/**
 * @define Social
 */

.Social {
  align-items: center;
  background: black;
  display: flex;
  flex-direction: row-reverse;
  height: 3rem;
  justify-content: center;
  padding-right: 1rem;
}

.Social-item {
  list-style: none;
  padding-left: 0.5rem;
}

.Social-itemInner {
  color: white;
  fill: currentColor;
  text-decoration: none;
}

.Social-itemInner:hover {
  color: limegreen;
  fill: currentColor;
}

@media (min-width: 52em) {
  .Social {
    height: 4rem;
    margin-left: 1rem;
  }
}
