.web_modules-Navigation-index--root--14eGU {
  background: black;
}

.web_modules-Navigation-index--items--3Fs9k {
  margin: 0;
  padding: 0;
}

.web_modules-Navigation-index--item--3XiaJ {
  border-bottom: 1px solid grey;
  display: block;
  list-style: none;
  padding: 0;
}

.web_modules-Navigation-index--itemInner--3Fhzb {
  color: white;
  display: block;
  font-family: "Work Sans", sans-serif;
  -webkit-font-feature-settings: "liga" 1, "kern";
          font-feature-settings: "liga" 1, "kern";
  font-size: 0.75em;
  padding: 16px;
  padding: 1rem;
  text-decoration: none
}

.web_modules-Navigation-index--itemInner--3Fhzb::after {
  content: ">";
  float: right;
  top: 0;
}

.web_modules-Navigation-index--itemInner--3Fhzb:hover {
  color: limegreen;
}

.web_modules-Navigation-index--secondaryItems--3qvPK {
  border-top: 1px solid grey;
}

.web_modules-Navigation-index--itemSecondary--29qBL {
}

.web_modules-Navigation-index--itemSecondary--29qBL:last-child {
  border-bottom: 0;
}

.web_modules-Navigation-index--itemInnerSecondary--2z7mW {
  color: rgba(255, 255, 255, 0.7);
  padding-left: 32px;
  padding-left: 2rem;
  padding-right: 32px;
  padding-right: 2rem;
}

@media (min-width: 48em) {
  .web_modules-Navigation-index--root--14eGU {
    margin-left: auto;
  }

  .web_modules-Navigation-index--items--3Fs9k {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 4rem;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .web_modules-Navigation-index--item--3XiaJ {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 2rem 0 0;
    position: relative
  }

  .web_modules-Navigation-index--item--3XiaJ:last-child {
    margin-right: 0;
  }

  .web_modules-Navigation-index--itemInner--3Fhzb {
    border-width: 0;
    padding: 0;
    position: relative
  }

  .web_modules-Navigation-index--itemInner--3Fhzb::after {
    display: none;
  }

  .web_modules-Navigation-index--secondaryItems--3qvPK {
    border: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 2rem;
  }
}
