.web_modules-Social-index--root--1Myyz {
  background-color: black;
}

.web_modules-Social-index--items--nzdrP {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0 1rem;
}

.web_modules-Social-index--item--1eiKz {
  list-style: none
}

.web_modules-Social-index--item--1eiKz:not(:last-child) {
  margin-right: 1.5rem;
}

.web_modules-Social-index--itemInner--1sl5y {
  color: white;
  display: block;
  height: 24px;
  text-decoration: none;
  width: 24px
}

.web_modules-Social-index--itemInner--1sl5y:hover {
  color: limegreen;
}

.web_modules-Social-index--logo--2kihT {
  fill: currentColor;
}

@media (min-width: 48.001em) {
  .web_modules-Social-index--items--nzdrP {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 2rem;
  }
}
