 {
}

body {
  margin: 0;
}

@media (min-width: 48em) {
  .web_modules-LayoutContainer-index--root--1fMbc {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .web_modules-LayoutContainer-index--header--1U5gP {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  .web_modules-LayoutContainer-index--main--vL7Q9 {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }

  .web_modules-LayoutContainer-index--navigation--1zZxi {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  .web_modules-LayoutContainer-index--social--bq-DC {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
}
