._2Mf6m {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
}
._116Tm {
  -ms-flex-align: stretch;
      align-items: stretch;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  -ms-flex-direction: column;
      flex-direction: column;
}
:root {
}
:root #algolia-docsearch {
    border: 1px solid grey;
    border-radius: 1rem;
    color: white;
    display: block;
    font-size: 0.875rem;
    line-height: 1;
    padding: 0.4rem;
    width: 7rem
}
:root #algolia-docsearch:focus {
    border-color: limegreen;
    outline: none
}
:root #algolia-docsearch::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1
}
:root #algolia-docsearch:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1
}
:root #algolia-docsearch::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1
}
:root .algolia-autocomplete {
}
:root .algolia-autocomplete > pre {
    right: 0
    /* fixes out of viewport positioning */
}
:root .algolia-autocomplete .ds-dropdown-menu {
    min-width: 320px
}
@media (min-width: 501px) {
    :root .algolia-autocomplete .ds-dropdown-menu {
        min-width: 500px
    }
}
:root .algolia-autocomplete .algolia-docsearch-suggestion--category-header {
    display: none !important
}
:root .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
    background: black
}
:root .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column-text {
    color: white
}
._2_Pts {
  position: absolute;
  right: 3rem;
  top: 0.75rem;
}

@media (min-width: 54.001em) {
  ._2_Pts {
    right: 2rem;
    top: 1rem;
  }
}
._3lG2a {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0 1rem;
}

._3WkI0 {
  list-style: none
}

._3WkI0:not(:last-child) {
  margin-right: 1.5rem;
}

._2Yt5Y {
  -ms-flex-align: center;
      align-items: center;
  color: black;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  -ms-flex-pack: center;
      justify-content: center;
  text-decoration: none;
  width: 42px
}

._2Yt5Y:hover {
  color: limegreen;
}

._1PL6N {
  fill: currentColor;
  height: 24px;
  width: 24px;
}

@media (min-width: 54.001em) {
  ._1Ustb {
    height: 5rem;
  }
}
._2gGRo {
  background: black;
  padding-left: 1rem;
}

._2TFzf {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 3.5rem;
}

._3jtKl {
  color: white;
  display: block;
  line-height: 1;
  text-decoration: none;
}

.ENT8c {
  display: block;
  height: 29px;
  width: 144px;
}

._1BJHE {
  color: white;
  margin-left: auto;
  padding: 1rem
}

._1BJHE:hover {
  color: limegreen;
}

._2OjD7 {
  fill: currentColor;
  height: 12px;
  width: 12px;
}

@media (min-width: 54.001em) {
  ._2gGRo {
    padding: 0 2rem;
  }

  ._2TFzf {
    height: 4rem;
  }

  ._1BJHE {
    display: none;
  }
}
._2xQmg {
  background: black;
  font-size: 0.875rem;
}

._1vKwm {
  border-bottom: 1px solid grey;
  display: block;
  list-style: none;
}

._1q7ve {
  display: block;
}

._3gLjv {
  color: white;
  display: block;
  padding: 1rem 0.75rem;
  text-decoration: none
}

._3gLjv::after {
  content: "\203A";
  float: right;
  top: 0;
}

._3gLjv:hover {
  color: limegreen;
}

._27H0b {
  border-top: 1px solid grey;
}

._1VkiU {
}

._1VkiU:last-child {
  border-bottom: 0;
}

._2A9CR {
  color: rgba(255, 255, 255, 0.7);
  padding-left: 2rem;
}

@media (min-width: 54.001em) {
  ._2xQmg {
    margin-left: auto;
    position: absolute;
    right: 12em;
    top: 0;
  }

  ._1q7ve {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    height: 4rem;
    -ms-flex-pack: center;
        justify-content: center;
  }

  ._1vKwm {
    -ms-flex-align: center;
        align-items: center;
    border: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 0 1.5rem 0 0;
    position: relative
  }

  ._1vKwm:last-child {
    margin-right: 0;
  }

  ._3gLjv {
    border-width: 0;
    padding: 1rem 0;
    position: relative
  }

  ._3gLjv::after {
    display: none;
  }

  ._27H0b {
    border: 0;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1.5rem;
  }

  ._1VkiU {
    margin-right: 1.5rem;
  }
}
/* Using global sytles is not recommended, prefer local styles via CSS Modules */

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  background: white;
  color: #333;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  background-color: #eaffea;
  color: #55a532;
}

.hljs-deletion {
  background-color: #ffecec;
  color: #bd2c00;
}

.hljs-link {
  text-decoration: underline;
}
._1KhX5 {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 25vh;
  -ms-flex-pack: center;
      justify-content: center;
}

._3i5XI {
  animation: _3H5Gy 0.6s infinite linear 0.25s;
  border: 6px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  border-top-color: rgba(0, 0, 0, 0.8);
  height: 5vh;
  min-height: 5rem;
  min-width: 5rem;
  opacity: 0;
  width: 5vh;
}

@keyframes _3H5Gy {
  from {
    opacity: 1;
    transform: rotate(0);
  }

  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}
.sFWsg {
  display: block;
}

._30RKo {
  font-size: 0.875rem;
  margin: 1.5rem auto;
  max-width: 57.5rem;
  padding: 0 1rem;
  width: 100%

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
}

._30RKo * + * {
  margin: 1em 0;
}

._30RKo h1,
._30RKo h2,
._30RKo h3,
._30RKo h4,
._30RKo h5,
._30RKo h6 {
  color: rgba(0, 0, 0, 0.68);
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  font-weight: 600;
  line-height: 1.25;
  padding-right: 1rem;
  position: relative;
}

._30RKo h1 .phenomic-HeadingAnchor,
._30RKo h2 .phenomic-HeadingAnchor,
._30RKo h3 .phenomic-HeadingAnchor,
._30RKo h4 .phenomic-HeadingAnchor,
._30RKo h5 .phenomic-HeadingAnchor,
._30RKo h6 .phenomic-HeadingAnchor {
  display: none;
}

._30RKo h1:hover,
._30RKo h2:hover,
._30RKo h3:hover,
._30RKo h4:hover,
._30RKo h5:hover,
._30RKo h6:hover {}

._30RKo h1:hover .phenomic-HeadingAnchor,
._30RKo h2:hover .phenomic-HeadingAnchor,
._30RKo h3:hover .phenomic-HeadingAnchor,
._30RKo h4:hover .phenomic-HeadingAnchor,
._30RKo h5:hover .phenomic-HeadingAnchor,
._30RKo h6:hover .phenomic-HeadingAnchor {
  display: block;
  font-weight: 400;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
}

._30RKo h1 code,
._30RKo h2 code,
._30RKo h3 code,
._30RKo h4 code,
._30RKo h5 code,
._30RKo h6 code {
  line-height: 1.25;
}

._30RKo h1 {
  font-size: 2em;
}

._30RKo h2 {
  border-bottom: 1px solid gainsboro;
  font-size: 1.5em;
  padding-bottom: 0.25em;
}

._30RKo h3 {
  font-size: 1.25em;
}

._30RKo h4 {
  font-size: 1em;
}

._30RKo h5 {
  font-size: 0.875em;
}

._30RKo p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1em;
  line-height: 1.5;
}

._30RKo blockquote {
  border-left: 3px solid gainsboro;
  padding-left: 10px;
}

._30RKo a {
  color: crimson;
  text-decoration: none;
}

._30RKo a:hover {
  color: limegreen;
}

._30RKo code {
  background: whitesmoke;
  border-radius: 0.25em;
  display: inline-block;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.875em;
  margin: 0;
  max-width: 100%;
  padding: 0 0.25em;
  vertical-align: middle;
}

._30RKo pre {
  position: relative;
}

._30RKo pre code {
  display: block;
  line-height: 1.5;
  overflow: auto;
  padding: 1em 1.5em 1em 1em;
}

._30RKo pre code::after,
      ._30RKo pre code::before {
  background: whitesmoke;
  bottom: 0;
  content: "";
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 1em;
}

._30RKo pre code::before {
  background: whitesmoke;
  opacity: 0.75;
  width: 0.5em;
}

._30RKo pre code.valid-pattern {}

._30RKo pre code.valid-pattern,
        ._30RKo pre code.valid-pattern::before,
        ._30RKo pre code.valid-pattern::after {
  background: #eef7ee;
}

._30RKo pre code.invalid-pattern {}

._30RKo pre code.invalid-pattern,
        ._30RKo pre code.invalid-pattern::before,
        ._30RKo pre code.invalid-pattern::after {
  background: #fee;
}

._30RKo ul,
  ._30RKo ol {
  padding-left: 1.25em;
}

._30RKo li {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
}

._30RKo li p,
    ._30RKo li ul {
  margin-bottom: 0;
  margin-top: 0;
}

._30RKo img {
  height: auto;
  max-width: 100%;
}

@media (min-width: 54.001em) {
  ._30RKo {
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0 2rem
  }
  ._30RKo ul,
    ._30RKo ol {
    padding-left: 2em;
  }
}
._1Zu4s {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  min-height: 50vh;
  padding: 1rem 0;
}

._2vfNd {
  color: #ddd;
  font-size: 4rem;
  line-height: 4rem;
}

._3DufC {
  font-size: 2rem;
  line-height: 3rem;
  margin: 4rem 0;
  text-align: center;
}
._2vLMb {
  height: 100%;
  width: 100%;
}
._3zv_5 {
  height: 100vh;
}
._1VpKa {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 2rem 0;
}

._14oYT {
  color: #ed143d;
  display: inline-block;
  font-size: 1em;
  line-height: 1.5;
  padding: 0 0.5rem;
  text-decoration: none
}

._14oYT:hover {
  color: #32cd32;
}
