/**
 * @define Navigation
 */

.Navigation {
  background: black;
}

.Navigation-item {
  border-bottom: 1px solid grey;
  display: block;
  list-style: none;
}

.Navigation-item:last-child {
  border: 0;
}

/*
.Navigation-item.is-active {
  border-bottom: 2px solid limegreen;
}
*/

.Navigation-itemInner {
  color: white;
  display: block;
  font-family: "Work Sans", sans-serif;
  font-feature-settings: "liga" 1, "kern";
  font-size: 0.75em;
  padding: 1rem;
  text-decoration: none;
}

.Navigation-itemInner:hover {

  /* , .Navigation-itemInner.is-active */
  color: limegreen;
}

.Navigation-itemInner::after {
  content: ">";
  float: right;
  top: 0;
}

.Navigation-secondary {
  border-top: 1px solid grey;
}

.Navigation-itemInner--secondary {
  color: color(white a(70%));
  padding-left: 2rem;
}

@media (min-width: 52em) {
  .Navigation {
    margin-left: auto;
  }

  .Navigation-inner {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: center;
  }

  .Navigation-item {
    align-items: center;
    border: 0;
    display: flex;
    justify-content: center;
    margin: 0 2rem 0 0;
    position: relative;
  }

  .Navigation-item:last-child {
    margin-right: 0;
  }

  .Navigation-itemInner {
    border-width: 0;
    font-size: 0.875rem;
    padding: 0;
    position: relative;
  }

  .Navigation-itemInner::after {
    display: none;
  }

  .Navigation-secondary {
    border: 0;
    display: flex;
    margin-left: 2rem;
  }
}
