/**
 * @define Chrome
 */

.Chrome-main {
  margin: 0 auto;
  max-width: 55em;
  padding: 0 5% 2em 5%;
}

.Chrome-sectionTitle {
  background: limegreen;
  border-radius: 0 0 0.4em 0.4em;
  color: white;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  line-height: 1;
  margin-bottom: 1.5em;
  padding: 1em;
}

@media (min-width: 50em) {
  .Chrome {
    display: flex;
    flex-wrap: wrap;
  }

  .Chrome-header {
    flex: 0 0 50%;
    order: 1;
  }

  .Chrome-main {
    flex: 0 0 100%;
    order: 3;
  }

  .Chrome-navAndSocial {
    flex: 0 0 50%;
    order: 2;
  }
}
