/**
 * @define Chrome
 */

.Chrome-main {
  margin: 0 auto;
  max-width: 52rem;
  padding: 0 1rem;
}

.Chrome-sectionTitle {
  background: limegreen;
  border-radius: 0 0 0.25em 0.25em;
  color: white;
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 1;
  margin-bottom: 1.25em;
  padding: 0.75em 0.5em;
}

@media (min-width: 52em) {
  .Chrome {
    display: flex;
    flex-wrap: wrap;
  }

  .Chrome-header {
    flex: 0 0 25%;
    order: 1;
  }

  .Chrome-sectionTitle {
    font-size: 0.875rem;
  }

  .Chrome-main {
    flex: 0 0 100%;
    order: 3;
  }

  .Chrome-navAndSocial {
    flex: 0 0 75%;
    order: 2;
  }
}
