/**
 * ContentOptIn
 */

.ContentOptIn * + * {
  margin-top: 1.5em;
}

.ContentOptIn h1,
.ContentOptIn h2,
.ContentOptIn h3,
.ContentOptIn h4 {
  font-family: "PT Sans", serif;
  font-feature-settings: "liga" 1, "kern";
  font-weight: bold;
}

.ContentOptIn h1 {
  font-size: 2.5rem;
  line-height: 1;
}

.ContentOptIn h2 {
  border-bottom: 1px solid gainsboro;
  font-size: 1.875rem;
  line-height: 1.25;
  padding-bottom: 0.25em;
}

.ContentOptIn h3 {
  font-size: 1.5rem;
}

.ContentOptIn h3 {
  font-size: 1.5rem;
}

.ContentOptIn h4 {
  font-size: 1.125rem;
}

.ContentOptIn p {
  font-family: "PT Serif", serif;
  font-feature-settings: "liga" 1, "kern";
  line-height: 1.5;
}

.ContentOptIn a {
  color: crimson;
}

.ContentOptIn a:hover {
  color: limegreen;
}

.ContentOptIn code,
.ContentOptIn pre {
  background: whitesmoke;
  font-family: "Inconsolata", monospace;
}

.ContentOptIn pre {
  line-height: 1.25;
  overflow: auto;
  padding: 1em;
}

.ContentOptIn ul,
.ContentOptIn ol {
  margin-left: 2em;
}

.ContentOptIn li {
  font-family: "PT Serif", serif;
  font-feature-settings: "liga" 1, "kern";
  line-height: 1.5;
  margin-top: 0;
}
