/**
 * @define Hero
 */

.Hero {
  align-items: center;
  background: black;
  color: white;
  display: none;
  font-family: "Work Sans", sans-serif;
  font-feature-settings: "liga" 1, "kern";
  font-size: 40px;
  font-weight: 600;
  height: 50vh;
  justify-content: center;
  line-height: 56px;
  padding: 0 1rem;
  text-align: center;
}

.Hero.is-active {
  display: flex;
}

.Hero-inner {
  padding-bottom: 3rem;
}

.Hero-logo {
  font-family: Niconne, cursive;
  font-size: 72px;
  font-weight: normal;
}

@media (min-width: 52em) {
  .Hero {
    padding: 0 1.5rem;
  }
}
